<!DOCTYPE html>
<html>
<head>
  <title>Shippinglabel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="jumbotron">
  <h1>USPS EasyPost</h1>
  <p>Create a USPS Shipping Label easily!</p> 
</div>

<%= yield %>

</body>
</html>
